{% extends 'homma/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'homma/css/application.css' %}">
</head>
<body>
  <div class="container">
    
    <form method ='post' action="{% url 'main' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>보정신청</h1>
     
        <p>이름</p> <input type="text" name="name">{{submit.name}}
        <br>
        <p>연락처</p><input type="text" name="name">{{submit.phone}}
        <br>
        <p>이메일</p><input type="text" name="name">{{submit.phone}}
        <br>
        <p>첨부파일</p><input type="text" name="name">{{submit.photo}}
        <br>
        
        <p>원하는 스타일</p><input type="text" name="name">
        <p>추가 요청사항</p>
        <div><textarea cols =30 rows =5 id="photo" >{{submit.context}}</textarea></div>
   
        <br>
        <input type="submit" value="보내기" id='value'>
    </form>
</div>

</body>
</html>


{% endblock %}